* {
    margin: 0;
    padding: 0;
    text-align: justify;
}

/* =========================================================================================================== */

body {
    background-color: #FFFFFF;
}
 
header {
    background-color: #33CC33;
    color: white;
    display: flex;
    align-items: center;
    border-radius: 0px 0px 13px 13px;
}

header > h1 {
    padding: 10px 0px 15px 20px;
    font-size: 45px;
}

#openMenu, #closeMenu {
    border: none;
    background: none;
    font-size: 30px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    cursor: pointer;
    color: white;
    display: none;
}

.ancora {
    text-decoration: none;
    color: white;
}

.ancora:hover {
    text-decoration: underline;
}

#identDir {
    display: flex;
    position: absolute;
    right: 30px;
}

#identDir > p {
    margin-left: 15px;
    font-size: 20px;
}

/* ========================================================================================================== */
section {
    padding: 50px;
    color: black;
}

section > h2 {
    padding-bottom: 6px;

}

.docs{
    color: #00CCCC;
}

.white {
    background-color: #CCCCCC;
    color: black;
}

/* ============================================================================================================ */
footer {
    background-color: #33CC33;
    color: white;
    margin-top: 2px;
}

footer > p{
    text-align: center;
}

/* ============================================================================================================ */
@media only screen and (max-width: 804px){
    #openMenu, #closeMenu {
        display: block;
    }

    #openMenu{
        margin-left: auto;
    }

    #closeMenu {
        position: fixed;
        right: 20px;
        top: 20px;
    }

    #identDir{
        position: fixed;
        flex-direction: column;
        width: 100vw;
        background: #808080;
        align-items: center;
        justify-content: center;
        margin: 0;
        display: none;
        opacity: 0;
        transition: 0.3s;
    }
}   